# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignoring IDEA files
.idea

# Ignoring MacOS files
.DS_Store

# Ignoring application scripts
*.script

# Ignoring collection dumps
*.xml
